<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>彩票99客服中心</title>
    <meta name="description" content="彩票99客服中心">
    <link rel="shortcut icon" href="../favicon.ico"/>
    <link rel="stylesheet" href="../css/active.all.min.css?V=1.0">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../zyupload/skins/zyupload-1.0.0.min.css " type="text/css">
    <script type="text/javascript" src="../js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../zyupload/zyupload-1.0.0.min.js"></script>
</head>

<body id="toTop">
<div class="header">
    <div class="wrapper">
        <a href="../index.html" class="logo animated fadeInDown"></a>
        <div class="slogan animated flipInY"></div>
        <a class="btns-modal j-btns-modal" href="../search.html" title="审核进度查询"></a>
    </div>
</div>
<div class="content">
    <div class="notice">
        <div class="wrapper">
            <h3>最新公告：</h3>
            <div class="marquee-box">
                <marquee direction="left" scrollamount="4" onmouseover="this.stop()" onmouseout="this.start()">
                    ★★★电子游戏【手机网页版】已经上线,手机输入公司网址，即可登入游戏。 在手机可直接转换额度、存款、取款。MG电子、BBIN电子、MW电子、AG电子、AG视讯、BBIN视讯、沙巴体育集一体手机在线游戏！！！
                    温馨提醒：由于近期有不法分子,传播非法信息进行诈骗活动！（例如：网址更改，网站升级，资料转移,公司调整等）要求您提供会员账号的登陆密码，取款密码信息，均为骗子！切记！不会以任何理由要求会员提供任何密码！也不会通过短信或打电话通知您新的网站！请广大会员相互转告，以免上当受骗！有任何疑问，请及时联系我们7X24小时在线客服为您解答！彩票99指定唯一官网：www..cp99.com 备用网址：www..cp99.com 客服热线：0063-9990333333 彩票99，信誉老品牌，您值得信赖！
                    温馨提示：最新线路检测网址：www..cp99.com ！！！
                    2017年4月25号返水已经派发，请注意查收！ 4月25号电子得意彩金已经派发完毕！！
                    劲爆消息：【PT角子机】【MG老虎机】全面支持（手机版）在线投注，17重优惠活动，彩金送不停！！！
                    新方式入款：www..cp99.com支付宝扫码，自动入款，【方便快捷】，添加公司微信转账，也是自动入款，秒到账，从此告别等待！！！！！！
                    彩金消息：只要您在彩票99有存过款的会员，在直营站点捕鱼www..cp99.com注册玩游戏，即可申请30元现金【可直接提取】，【条件：注册的会员账户和姓名必须与在彩票99注册的信息一致】
                    2017年4月24-4月30MG擂台赛，周排行已派送完成！2017年4月24-4月30 【vip】晋级彩金，好运金派送完毕！2017年4月24-4月30 金管家周俸禄，4月月俸禄，等级礼金，派送完毕，请注意查收！
                </marquee>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="detail">
            <div class="detail-content">
            <div class="crumb">
                <div class="btns">
                    <a href="../index.html">返回客服中心</a>
                </div>
                <h3 class="crumb-tle">修改会员登入密码</h3>
            </div>
            <div class="detail-bd">
                <div class="detail-fm detail-fm-search">

                    <div id="zyupload">
                        <input type="hidden" name="inputMsg" id="inputMsg" value="真实姓名,银行卡卡号,">
                        <input type="hidden" name="imj" id="imj" value="1">
                        <input type="hidden" name="imgurl" id="imgurl">
                        <form id="uploadForm" action="/ylgkf/UploadImageAction" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="activeId" id="activeId" value="4">

                            <ul class="">
                                <li><label for="">会员账号： </label><input class="ipt" placeholder="请填写您的会员账号" type="text" id="objaccount" name="objaccount"></li><li><label for="">真实姓名： </label><input class="ipt" name="attrib4" placeholder="请填写您的真实姓名" type="text"> </li><li><label for="">银行卡照片： </label><input id="fileImage" type="file" size="30" name="fileselect[]" multiple=""><span class="filePicker">选择图片</span><div id="preview" class="upload_preview"></div></li><li><label for="">银行卡卡号： </label><input class="ipt" name="attrib4" placeholder="请填写您的银行卡卡号" type="text"> </li>


                                <li><label for="">验证码：</label> <input class="ipt" type="text" placeholder="请输入验证码" name="cfCode" id="cfCode"><img class="img1" id="verifycode" src="/ylgkf/verifyCodeAction.do"></li>

                                <li>
                                    <div class="upload_btn">提交申请</div><button type="button" id="fileSubmit" class="upload_submit_btn">确认上传文件</button>

                                </li>
                            </ul>
                        </form>
                        <p>
                            温馨提示：请选择<span class="fc-red">对应的活动类别</span>申请，提交申请后专员将在<span class="fc-purple">2个小时</span>内审核办理，提交申请后可以点击审核进度查询！
                        </p>


                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>

<div class="footer">
    <div class="links">
        <a href="#">关于我们</a><span>/</span>
        <a href="#">联系我们</a><span>/</span>
        <a href="#">合作伙伴</a><span>/</span>
        <a href="#">存款帮助</a><span>/</span>
        <a href="#">取款帮助</a><span>/</span>
        <a href="#">常见问题</a><span>/</span>
    </div>
    <div class="copy">
        Copyright &copy; 99彩票 Reserved
    </div>
    <!-- <div class="slider" id="s01">
        <ul>
            <li>
                <a href="#" target="_blank"><img src="images/01.png"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="images/02.png"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="images/03.png"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="images/04.png"></a>
            </li>
        </ul>
        <a class="slider-close" href="javascript:void(0)"></a>
    </div> -->
</div>
<!-- 悬浮 -->
<!-- <div class="duilian duilian_right">
    <a class="block1" href="#toTop" title=""></a>
    <a class="block2" href="#" target="_blank" title=""></a>
    <a class="block3" href="#" title=""></a>
    <a href="javascript:void(0)" class="duilian_close"></a>
</div> -->
<script src="../js/unslider.min.js"></script>
<script src="../js/miniTip.js"></script>
<script type="text/javascript" src="../js/detail.js"></script>
<script type="text/javascript">
    var urimage = "";
    $(function () {
        // 初始化插件
        $("#zyupload").zyUpload({
            width: "650px",                 // 宽度
            height: "400px",                 // 宽度
            itemWidth: "140px",                 // 文件项的宽度
            itemHeight: "115px",                 // 文件项的高度
            url: "/customer/uploadImageAction.do",  // 上传文件的路径
            fileType: ["jpg", "png", "jpeg"],// 上传文件的类型
            fileSize: 51200000,                // 上传文件的大小
            multiple: true,                    // 是否可以多个文件上传
            dragDrop: true,                    // 是否可以拖动上传文件
            tailor: true,                    // 是否可以裁剪图片
            del: true,                    // 是否可以删除文件
            finishDel: false,  				  // 是否在上传文件完成后删除预览
            /* 外部获得的回调接口 */
            onSelect: function (selectFiles, allFiles) {    // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
                console.info("当前选择了以下文件：");
                console.info(selectFiles);
            },
            onDelete: function (file, files) {              // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
                console.info("当前删除了此文件：");
                console.info(file.name);
            },
            onSuccess: function (file, response) {          // 文件上传成功的回调方法
                console.info("此文件上传成功：");
                console.info(file.name);
                console.info("此文件上传到服务器地址：");
                console.info(response);
                urimage = urimage + response + ";";
                $("#imgurl").val(urimage);
            },
            onFailure: function (file, response) {          // 文件上传失败的回调方法
                console.info("此文件上传失败：");
                console.info(file.name);
            },
            onComplete: function (response) {           	  // 上传完成的回调方法
                console.info("文件上传完成");
                console.info(response);
                $.ajax({
                    type: "POST",
                    url: "/20170516/cp99kf/baseAction.php",
                    data: {
                        ctrl_action: "applyAction",
                        ctrl_method: "applySaveMold",
                        account: $("#imgurl").val(),
                        activeId: $("#activeId").val(),
                        amount: allinputlist,
                        buteNameList: $("#inputMsg").val(),
                        objaccount: objaccount
                    },
                    success: function (data) {
                        if (data.code == "02") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "01") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "001") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "002") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "003") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "004") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "005") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "006") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "0003") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "0004") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "0005") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "0008") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "0006") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "0007") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else if (data.code == "0009") {
                            flag = true;
                            alert(data.desc);
                            return false;
                        } else {
                            alert("您申请已经提交成功，专员会在30分钟内为您处理，还请稍晚注意查收!");
                            window.location.reload(true);
                        }
                    },
                    ajaxError: function (data) {
                        flag = true;
                        alert("服务出错");
                    },
                    dataType: "json"
                });
            }
        });
    });
</script>
</body>
</html>