/*header开始*/
header {
	margin-bottom: 15px;
}
#topbar {
	width: 100%;
	height: 30px;
	min-width: 1200px;
	margin-bottom: 0px;
	background-color: #fff;
}
#topbar ul {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	min-width: 880px;
	height: 30px;
	display: block;
}
#topbar ul li {
	width: 105px;
	height: 30px;
	min-width: 88px;
	float: right;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	color: #666;
}
#topbar ul li:first-child {
	width: 880px;
	height: 30px;
	min-width: 620px;
	text-align: left;
	color: #666;
	text-indent: 5px;
	float: left;
}
#topbanner {
	width: 100%;
	height: 150px;
	min-width: 1200px;
	background-color: #363231;
}
#topbannerimg {
	width: 1200px;
	height: 150px;
	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#topnav {
	width: 100%;
	min-width: 1200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #e10529;
}
#topnav ul {
	width: 1200px;
	height: 50px;
	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: rgba(255, 255, 255, 1.00);
	text-align: center;
	font-size: 20px;
	list-style-type: none;
	margin-top: 0px;
}
#topnav ul li {
	float: left;
	width: 200px;
}
#topnav ul li a {
	height: 48px;
	display: block;
	line-height: 50px;
	color: #fff;
}
#topnav ul li a.hover {
	background-color: #FFB32D;
}
#topnav ul li a:hover {
	border-bottom: 6px solid #FFB32D;
}
/*大轮播图开始*/
#banner {
	margin: 0 auto;
	width: 100%;
	height: 450px;
	overflow: hidden;
	min-width: 1200px;
	background-color: rgba(87,87,87,1.00);
	color: #FFFFFF;
	text-align: center;
	position: relative;
}
#banner ul {
	width: 400%;
	position: absolute;
}
#banner ul li {
	width: 25%;
	float: left;
}
#banner ul li a {
	width: 100%;
	display: block;
}
#banner ul li a img {
	width: 100%;
}
/*大轮播图结束*/
/*header结束*/

/*小轮播图开始*/
#carsouel {
	width: 1200px;
	height: 188px;
	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}
#carsouelUl {
	width: 2200px;
	position: absolute;
	margin-top: 15px;
}
#carsouelUl li {
	float: left;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	width: 220px;
	height: 170px;
	background-color: #fff;
}
#carsouelUl li a:hover {
	border: thin solid rgba(221, 18, 22, 1.00);
}
#carsouelUl li a {
	display: block;
}
#carsouelUl li a img {
	height: 150px;
	width: 220px;
}
footer {
	width: 100%;
	margin-top: 10px;
}
#insertFooter {
	width: 100%;
	height: 40px;
	background-color: #e10529;
}


/*小轮播图结束*/

/*footer开始*/
#fanslink {
	width: 1200px;
	height: 40px;
	min-width: 980px;
	background-color: #e10529;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#fanslink li  {
	width: 100px;
	height: 40px;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
}
#fanslink li a  {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
#footerpart {
	width: 100%;
	height: 250px;
	background-color: #292929;
}
#footerbanner {
	height: 250px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #363231;
}
#address {
	width: 1000px;
	height: 120px;
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	font-size: 13px;
	line-height: 25px;
}
#blog {
	width: 1000px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 100px;
	display: block;
}
/*footer结束*/
#blog a {
	margin-right: 50px;
}

#beian {
	width: 100%;
	height: 30px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
}
#beian a{
	color:#fff;
}
#beian a:hover {
	color:#FF0004
}