body {
	padding: 0;
	margin: 0;
	line-height: 50px;
	font-size: 25px;
	background-color: #FCFCFC;
	height: 100%;
}
#thearticle {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	min-width: 860px;
	background-color: #fff;
	height: 845px;
}

#sidebar {
	flex: 1;
	height: 250px;
	margin-right: 10px;
	border: thin solid #DBDBDB;
	background-color: #fff;
}
#thearticle aside {
	width: 230px;
	min-width: 198px;
	margin-right: 10px;
	padding: 8px;
	float: left;
	background-color: #fff;
}
#asidetop {
	margin: 0;
	padding: 0;
	height: 200px;
	list-style-type: none;
}
#asidetop li {
	height: 33px;
	margin-top: 5px;
	text-indent: 35px;
	color: #666;
	line-height: 33px;
	font-size: 14px;
	font-weight: bolder;
	text-align: left;
}
#asidetop li:first-child {
	height: 40px;
	margin-top: 0px;
	line-height: 40px;
	font-weight: bolder;
	font-size: 18px;
	text-indent: 15px;
	border-left: 6px solid #e10529;
	background-color: #FAE8C8;
}
#asidedown {
	margin: 0;
	padding: 0;
	height: 580px;
	list-style-type: none;
}
#sidebartitile  {
	height: 40px;
	margin-top: 0px;
	text-indent: 15px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bolder;
	background-color: #FAE8C8;
	border-left: 6px solid #e10529;
}
#asidedown li {
	height: 30px;
	margin-top: 5px;
	color: #666;
	text-indent: 20px;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
}
#thearticle article {
	width: 940px;
	float: right;
	background-color: #fff;
}
#thearticle article div {
	background-color: #fff;
	color: rgba(96,93,93,1.00);
	height: 200px;
	text-align: center;
	line-height: 190px;

}
#thearticle article div:first-child {
	height: 220px;
}

.thetextimg {
	height: 180px;
	width: 220px;
	display: inline;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
}
.thetextimg img {
	width: 100%;
	height: 100%;
	display: block;
}
.texttitle {
	height: 40px;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 5px;
	padding: 0;
	margin-top: 5px;
	margin-left: 235px;
	font-weight: bold;
	text-indent: 25px;
	background-color: #e10529;
	text-align: left;
	border-left: 6px solid #FFB32D;
}

.thetextdescription {
	margin-top: 10px;
	font-size: 16px;
	line-height: 25px;
	color: #666;
	text-align: left;
	text-indent: 38px;
	margin-right: 10px;
}
