* {
	margin: 0px auto;
}
*:focus {
	
}
html {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
body {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
div {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
span {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
applet {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
object {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
iframe {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h1 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h2 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h3 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h4 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h5 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h6 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
p {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
blockquote {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
pre {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
a {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
abbr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
acronym {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
address {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
big {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
cite {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
code {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
del {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
dfn {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
em {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
images {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
ins {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
kbd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
q {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
s {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
samp {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
small {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
strike {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
strong {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
sub {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
sup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
tt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
var {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
b {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
u {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
i {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
center {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
dl {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
dt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
dd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
ol {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
ul {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
li {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
fieldset {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
form {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
label {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
legend {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
table {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
caption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
tbody {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
tfoot {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
thead {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
tr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
th {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
td {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
article {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
aside {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
canvas {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
details {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
embed {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
figure {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
figcaption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
footer {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
header {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
hgroup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
menu {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
nav {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
output {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
ruby {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
section {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
summary {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
time {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
mark {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
audio {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
video {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; vertical-align: baseline; box-sizing: border-box; font-size-adjust: inherit; font-stretch: inherit; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
a {
	text-decoration: none;
}
html {
	height: 101%;
}
body {
	line-height: 1; font-family: Î¢ÈíÑÅºÚ; font-size: 62.5%;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
strong {
	font-weight: bold;
}
table {
	border-collapse: collapse; border-spacing: 0;
}

img {
	border: 0px currentColor; max-width: 100%;
}
p {
	color: rgb(51, 51, 51); line-height: 1em; font-size: 1.2em;
}
.clearfix::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	display: inline-block; -ms-zoom: 1;
}
.marr {
	margin-right: 10px;
}
.mart {
	margin-top: 10px;
}
.clear {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.margintop {
	margin-top: 8px;
}
.radius {
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.inline {
	_display: inline;
}
