.toolicon1 {
  padding-left: 35px;
  position: relative;
}
.toolicon1 i {
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 30px;
  left: 0px;
  top: 0px;
  background: url("../img/icon/bjpknum.png") no-repeat -42px -41px;
}
.toolicon2 {
  position: relative;
  padding-left: 35px;
}
.toolicon2 i {
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 30px;
  left: 0px;
  top: 0px;
  background: url("../img/icon/bjpknum.png") no-repeat -42px -64px;
}
@keyframes lfetmenua {
  0% {
    top: -675px;
  }
  100% {
    top: 60px;
  }
}
.bodybox .liline {
  color: #cccccc !important;
}
.bodybox .menubannbox {
  width: 100%;
  height: 515px;
  background: #ffffff;
}
.bodybox .menubannbox .menubox {
  width: 100%;
  height: 45px;
  background: #e61931;
}
.bodybox .menubannbox .menubox .menuboxr {
  width: 1200px;
  margin: 0 auto;
}
.bodybox .menubannbox .menubox .menuboxr ul {
  width: 100%;
}
.bodybox .menubannbox .menubox .menuboxr ul li {
  display: inline-block;
  float: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.bodybox .menubannbox .menubox .menuboxr ul li a {
  padding: 0 18px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  height: 45px;
  line-height: 45px;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
}
.bodybox .menubannbox .menubox .menuboxr ul .lasli {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: right;
  background: #4d4d4d;
}
.bodybox .menubannbox .menubox .menuboxr ul .lasli:hover {
  background: #4d4d4d;
}
.bodybox .menubannbox .menubox .menuboxr ul .lasli a {
  padding: 0 10px 0 5px;
}
.bodybox .menubannbox .bannerbox {
  width: 100%;
  height: 470px;
  position: relative;
  line-height: 0;
  overflow: hidden;
}
.bannerbox img { max-width: 100%; }
/* Swipe 2 required styles */
.swipe {overflow: hidden;visibility: hidden;position: relative;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > li {float:left;width:100%;position: relative; text-align: center;}
.swipe-wrap > li img {max-width: 100%;}
.bannerbox #banner_page {position: absolute; bottom: 40px; width: 100%; margin: 0 auto; text-align: right;}
.bannerbox #banner_page a {display: inline-block; margin: 0 5px; width: 24px; height: 24px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; background-color: #a4a4aa; text-indent: -99999em; cursor: default; text-decoration: none; overflow: hidden;}
.bannerbox #banner_page a.on {background-color: #fff;}
.bannerbox .content {width: 1200px; margin: 0 auto;}

.bodybox .contentbox {
  width: 1200px;
  height: auto;
  margin: 15px auto 0;
}
.bodybox .contentbox .contentct {
  height: auto;
  width: 100%;
  overflow: hidden;
  display: none;
}
.bodybox .contentbox .contentct .todaytype {
  width: 957px;
  height: 140px;
  display: inline-block;
  float: right;
  background: #ffffff;
}
.bodybox .contentbox .contentct .todaytype .todayt {
  display: inline-block;
  float: left;
  width: 50px;
  height: 140px;
  line-height: 24px;
  padding: 23px 14px 14px;
  border-right: 1px solid #f0f0f0;
  color: #dd0944;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bodybox .contentbox .contentct .todaytype .smalllun {
  margin-left: 95px;
  width: 816px;
  margin-top: 20px;
  height: 98px;
}
.bodybox .contentbox .contentct .todaytype .smalllun .slides {
  width: 100%;
  height: 98px;
  overflow: hidden;
}
.bodybox .contentbox .contentct .todaytype .smalllun .slides li {
  text-align: center;
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-control-paging {
  display: none;
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-control-paging li {
  display: inline-block;
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-control-paging li a {
  display: none;
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-direction-nav {
  position: relative;
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 48px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 3;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  background: url("../img/icon/bjpknum.png") no-repeat;
  text-indent: -999em;
  outline: none;
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-direction-nav .flex-prev {
  top: -55px;
  left: -54px;
  background-position: -300px -36px;
}
.bodybox .contentbox .contentct .todaytype .smalllun .flex-direction-nav .flex-next {
  top: -55px;
  right: -54px;
  background-position: -264px -36px;
}
.bodybox .contentbox .contentcb {
  height: auto;
  overflow: hidden;
  margin-top: 15px;
  width: 100%;
}
.bodybox .contentbox .contentcb .cztypel {
  width: 957px;
  display: inline-block;
  float: left;
  position: absolute;
}
.bodybox .contentbox .contentcb .cztypel ul {
  width: 100%;
  height: auto;
}
.bodybox .contentbox .contentcb .cztypel ul li {
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-bottom: 16px;
  width: 463px;
  height: 345px;
  position: relative;
  z-index: 1;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt {
  width: 100%;
  height: 295px;
  padding: 28px;
  box-sizing: border-box;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt > div {
  width: 100%;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 {
  height: 124px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 > div {
  display: inline-block;
  height: 100px;
  overflow: hidden;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .imgheadl {
  width: 100px;
  float: left;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .imgheadl img {
  width: 100%;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr {
  width: 290px;
  float: right;
  position: relative;
  height: auto;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr h1 {
  margin-top: 7px;
  color: #333333;
  font-size: 18px;
  line-height: 40px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr p {
  display: inline-block;
  color: #999999;
  line-height: 21px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr .preIssue,
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr .preDrawIssue {
  margin: 0 5px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr .opentyle {
  margin-left: 10px;
  font-size: 12px;
  width: auto;
  color: #de0846;
  text-align: center;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr .linetime {
  margin-left: 20px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr .linetime .bgtime {
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 2px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox1 .inforr .cuttime {
  font-size: 14px;
  color: #FF0000;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 {
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  overflow: hidden;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2.rowbox4 {
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 ul {
  /*width: 100%;*/
  margin: 8px 25px;
  overflow: hidden;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2.rowbox4 ul {
  width: 100%;
  margin: 0;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 ul li {
  display: inline-block;
  float: left;
  margin-right: 5px;
  width: 36px;
  height: 40px;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 ul li img {
  width: 40px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 ul .runsaizi {
  background: url("../img/saizi.gif") no-repeat center;
  background-size: 40px 40px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 ul .numblue,.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 ul .numred {
  margin-right: 17px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 ul.small_interval .numblue,.bodybox .contentbox .contentcb .cztypel ul.small_interval li .cztypelt .rowbox2 ul .numred {
  margin-right: 9px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox2 ul .li_after {
  margin-right: 0;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox3 {
  margin-top: 15px;
  width: 100%;
  height: 50px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox3 table {
  width: 100%;
  background: #e5e5e5;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox3 table th,
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox3 table td {
  padding: 8px 0;
  text-align: center;
  background: #FFFFFF;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox3 table th {
  color: #de0846;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelt .rowbox3 table td {
  color: #676767;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelb {
  border-top: 1px solid #f0f0f0;
  width: 100%;
  height: 50px;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelb table {
  width: 100%;
  height: 100%;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelb table td {
  text-align: center;
}
.bodybox .contentbox .contentcb .cztypel ul li .cztypelb table td a:hover {
  color: #fa8e19;
}
.bodybox .contentbox .contentcb .cztypel ul li.cztypell:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.bodybox .contentbox .contentcb .cztypel ul .cztypell {
  background: #ffffff;
}
.bodybox .contentbox .contentcb .otherr {
  width: 243px;
  height: auto;
  display: inline-block;
  float: right;
}
.bodybox .contentbox .contentcb .otherr .program {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #ffffff;
}
.bodybox .contentbox .contentcb .otherr .program dl {
  width: 100%;
}
.bodybox .contentbox .contentcb .otherr .program dl dt,
.bodybox .contentbox .contentcb .otherr .program dl dd {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.bodybox .contentbox .contentcb .otherr .program dl dt {
  float: left;
  font-size: 16px;
  color: #666666;
}
.bodybox .contentbox .contentcb .otherr .program dl dd {
  float: right;
}
.bodybox .contentbox .contentcb .otherr .program dl dd a {
  color: #999999;
}
.bodybox .contentbox .contentcb .otherr .program dl dd a:hover {
  color: #f9982e;
}
.bodybox .contentbox .contentcb .otherr .newslist {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #ffffff;
}
.bodybox .contentbox .contentcb .otherr .newslist ul {
  width: 100%;
}
.bodybox .contentbox .contentcb .otherr .newslist ul li {
  display: block;
  height: 30px;
  line-height: 30px;
  background: url("../img/icon/dot.jpg") no-repeat left center;
  padding-left: 10px;
}
.bodybox .contentbox .contentcb .otherr .newslist ul li a {
  color: #666666;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bodybox .contentbox .contentcb .otherr .newslist ul li a:hover {
  color: #f9982e;
}
.bodybox .contentbox .contentcb .otherr .adviertisement {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
}
.bodybox .contentbox .contentcb .otherr .adviertisement img {
  width: 100%;
  height: auto;
}
.bodybox .contentbox .contentcb .otherr .tools,.zhibo {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #ffffff;
  margin-top: 15px;
  border-bottom: 1px solid #f0f0f0;
}
.bodybox .contentbox .contentcb .otherr .tools .toolhead {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
.bodybox .contentbox .contentcb .otherr .tools .toolhead dl {
  padding: 0 15px;
  width: 100%;
}
.bodybox .contentbox .contentcb .otherr .tools .toolhead dl dt,
.bodybox .contentbox .contentcb .otherr .tools .toolhead dl dd {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.bodybox .contentbox .contentcb .otherr .tools .toolhead dl dt {
  float: left;
  font-size: 16px;
  color: #666666;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist,.zhibo .zhibo-body {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr1 {
  margin-top: 15px;
  width: 100%;
  height: 46px;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr1 .tooll {
  display: inline-block;
  float: left;
  width: 48px;
  height: 46px;
  line-height: 46px;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr1 .toolr {
  margin-left: 10px;
  display: inline-block;
  float: left;
  width: auto;
  height: 46px;
  line-height: 46px;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr2 {
  width: 100%;
  height: 20px;
  margin-top: 18px;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl {
  width: 100%;
  height: 20px;
  padding: 0;
  display: block;
  background: #ffffff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dt,
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dd {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dt {
  float: left;
  color: #666666;
  font-size: 16px;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dd {
  float: right;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dd a {
  color: #999999;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dd a:hover {
  color: #f9982e ;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr3 {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px 0;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr3 ul {
  width: 100%;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr3 ul li {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin-right: 10px;
  color: #999999;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr3 ul li a {
  color: #999999 ;
}
.bodybox .contentbox .contentcb .otherr .tools .toolsbox .toolslist .listhead .toolsr3 ul li a:hover {
  color: #de0846;
  text-decoration: underline;
}
.lfetmenuhid {
  display: none;
}
.heightauto {
  height: auto !important;
}
.box-head {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #bfbfbf;
  background-color: #ffffff;
  position: relative;
}
.box-head dl {
  position: relative;
}
.box-head dl.marginLeft {
  margin-left: 10px;
}
.box-head dt {
  position: absolute;
  top: 1px;
  height: 39px;
  line-height: 39px;
  padding: 0 15px;
  color: #737373;
  border-bottom: 1px solid #ff334b;
  font-size: 18px;
}
.box-head dd {
  position: absolute;
  right: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.box-head dd a {
  color: #cccccc;
}
.box-head .hot {
  position: absolute;
  left: 92px;
  top: 3px;
}
.zhibo .zhibo-body {margin: 20px auto; border-bottom: 0 none;}
.zhibo .zhibo-body img {max-width: 100%;}
.zhibo .zhibo-body .row {margin: 8px auto;}
