@charset "utf-8";
/* CSS Document */
body,ul,li,ol,dl,dt,dd,img,p,div,h1,h2,h3,h4,h5,h6,hr,pre,th,td,blockquote,span,em,i,header,button{padding:0;margin:0;border:medium none;}
/** 设置默认字体 **/
body,button, input, select, textarea {
font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em{font-style:normal;}
/** 重置列表元素 **/
ul, ol,li{ list-style: none; }
/** 重置超链接元素 **/
a{ text-decoration: none; color:#fff; cursor:pointer;}
a:hover{text-decoration:none;color:#fff;}
/** 重置图片元素 **/
img{ border:0px;padding:0;margin:0;}
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/**/
iframe{ border:none; margin: 0; padding: 0;}
/*header部分样式*/
#wap{width:100%;height:auto;overflow:hidden;background:#e9e9e9;}
.wap-header{width:100%;height:auto;overflow:hidden;}
.wap-header img{width:100%;display:block;}
.wap-header .money{background:#376ef7;padding:2% 5%;}
.wap-pic{width:100%;height:auto;overflow:hidden;}
.wap-pic img{width:100%;}
.sweep{width:100%;height:auto;text-align:center;position:relative;z-index:1;}
.sweep img.bg{width:100%}
.sweep img.ewm{width:40%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-70%);transform:translate(-50%,-70%);}
.btn{background:#99e16d;height:44px;margin:10px auto 0;color:#fff;font-size:16px;box-shadow:0px 0px 8px rgba(14, 14, 14, 0.67);line-height:44px;border-radius:5px;width:40%;display:block;
position:absolute;bottom:17%;left:50%;-webkit-transform:translate(-50%,-25%);transform:translate(-50%,-25%);}
.btn:hover{color:#fff;}
.wap_list{width:100%;margin:0 auto;background:#e9e9e9;padding:10px 0;text-align:center;position:relative;}
.wap_list span{display:block;font-size:16px;color:#fe690e;line-height:26px;}
.wap_list img{box-shadow:0px 0px 15px #8f96a6;background-size:100%;text-align:center;margin:5% 0 10%;}
.wap_list .headline{color:#000;font-weight:400;font-size:18px;line-height:30px;/*text-align:center;*/display:block;}
.wap_list p{/*text-align:center;*/}
.wap_pig{margin:2% 0 10%;}
.wap_list img.ewm01{width:36%;position:absolute;top:54%;left:50%;-webkit-transform:translate(-50%,-84%);transform:translate(-50%,-84%);box-shadow:0 0 0 #000;margin:0;}

.wap-footer{width:100%;height:80px;background:#fe690e;text-align:center;padding:4px 0;}
.wap-footer p{color:#fff;font-size:16px;line-height:35px;}

.kfqq{ height:80px; background-color:#fe690e; text-align:center;cursor:pointer;}
.kfqq_all{ width:200px; margin:0 auto;}
.kfqqimg{ float: left; width:20px; margin-top:8px;clear:both;}

.kfqqmes{ float: left; width:150px; margin-top:8px;line-height:24px;color:#FFF; font-size:16px;}

/*.wap-footer span.kfqq{background:url(../images/qq.png) no-repeat 0 center;background-size:32%;padding-left:41px;display:inline-block;font-family:"黑体"}
.wap-footer span.kfwx{background:url(../images/wx.png) no-repeat 0 center;background-size:32%;padding-left:41px;display:inline-block}
*/
/*pc端样式*/
body{background:#fff;width:100%;overflow-x:hidden;}
.out-container {
	position: relative;
	z-index: 2;
	transition: all .5s;
}
.header{width:100%;height:158px;margin:0 auto;text-align:center;background:#000000;}
.header_main{ position:relative;width:1200px;color:#fff;margin:0 auto;line-height:158px;}
.header:after{content:"";clear:both;}
.header_l{float:left;font-size:70px;padding-top:26px;}
.header_r{float:right;font-size:43px;}
.banner{position: relative; width:100%; height: 796px;background:url(../images/banner.png) no-repeat center 0;margin:0 auto; background-size: auto}
.banner_main {width: 1200px; margin: 0 auto; background-color: transparent;}
.banner .btn-list {position: absolute; top: 445px; width: 684px;}
.banner .btn-list p {margin-bottom: 15px;}
.banner .btn-list p a {margin-right: 12px;}
.lister{width: 100%;margin: 60px auto 70px; position:relative;background:#fff;}
.lister_main { position:relative;width: 1200px; margin: 0 auto; background-color: transparent;}
.lister:after{content:"";clear:both;}
.list{float: right; width: 55%;}
.list h2{color:#3c91fe;font-size:55px;line-height:30px;padding:10px 0 30px;font-weight:400;}
.list p{font-size:25px;margin-bottom:157px;}
.list dl{height:100px;margin-bottom:10px;padding:20px 0 0 108px;color:#222222;}
.list dl dt{font-size: 28px;line-height:30px;margin-bottom:5px;font-weight:400;text-align:left;}
.list dl dd{line-height:30px;font-size:18px;text-align:left;}
.ample{background:url(../images/hypc_icon01.png) no-repeat left center;}
.authority{background:url(../images/hypc_icon02.png) no-repeat left center;}
.timely{background:url(../images/hypc_icon03.png) no-repeat left center;}
.know{background:url(../images/hypc_icon04.png) no-repeat left center;}
.list_iphone{float:left; width: 40%; text-align: center;}
.list_iphone img {max-width: 100%;}
#ft-bottom{
    height: 48px;
	padding: 20px 0;
    width: 100%;
	line-height:48px;
    margin:0 auto;
    text-align: center;
	clear:both;
	color:#c9c9c9;
	font-size:16px;
	background-color: #4d4d4d;
}
.help_fcwk{display: none; color:#6b6b6b; font-size:14px; padding:5%; padding-top:10PX; padding-bottom:16PX; width:90%; margin:0 auto; background-color:#f8f8f8; border-radius:8px; clear:both; position:fixed;top: 217px; left:5%; z-index:1001;overflow: hidden;}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
	.help_fcwk{top: 60px;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
	/* 兼容iphone5 */
	.help_fcwk{top: 90px;}
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2) {
	/* 兼容iphone6 */
	.help_fcwk{top: 124px;}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2) {
	/* 兼容iphone6 Plus */
	.help_fcwk{top: 160px;}
}
@media (min-width: 768px) {
	.help_fcwk {width: 50%; left: 20%; height: auto;}
}
.gb_an{ position:absolute; text-align:right; float:right; width:88%; padding-top:5px; cursor:pointer;}
.help_fc_bt{ margin:0 auto; height:30px;line-height:30px; text-align:left;}
.help_fc_jdt{height:10px; line-height:10px; margin:0 auto;background-color: #dddddd;border-radius: 10px;}
.help_fc_jdtt{background-color:#9ed740;border-radius:10px; height:10px; line-height:10px; width:0%;}
.help_fc_jdtb{height:10px; line-height:10px; background-color:#dddddd; border-radius:10px;}
.help_fc_ts{ color:#ed3f17;margin:0 auto; font-size:12px; line-height:16px; padding-top:8px; text-align:left;}
.help_content {text-align: center;}
.help_content img {max-width: 100%;}
.help_fc_an{background-color:#ed3f17; height:32px; width:70%; margin:0 auto; cursor:pointer; text-align:center; color:#FFF; font-size:16px; line-height:32px;border-radius:6px;}
.help_fc_bg{display: none; width: 100%; margin: 0 auto; height: 100%; background: #000; opacity: .5; filter: alpha(opacity=50); overflow: hidden; position: fixed;top:0px; z-index: 100;}